---
import HomePosts from "../components/HomePosts.astro";
import Tags from "../components/Tags.astro";
import { Content as About } from "../pages/about.md";
import getTags from "../scripts/getTags";

const posts = await Astro.glob("../posts/*.md");

const tags = getTags(posts);
---

<About />

<br />

<h3>Here's my most recent posts</h3>

<HomePosts allPosts={posts} />

<br />

<Tags tags={tags} all />
